<div class='card grey lighten-3'>
  <div class='card-content'>
    <span class='card-title'><%= group.name %></span>

    <table class='highlight'>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Asin</th>
          <th>Title</th>
          <th>Price</th>
          <th>Reviews</th>
          <th>Inventory</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'competitor', collection: group.competitors.by_rank %>
      </tbody>
    </table>

  </div>
  <div class='card-action'>
    <%= link_to 'Show', group %>
    <%= link_to 'Edit', edit_group_path(group) %>
    <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
