<% color = type == :previous ? 'red' : 'teal' %>

<div class="card <%= color %> darken-4">
  <div class='card-content white-text'>
    <% if product.present? %>
      <span class='card-title'><%= product.title %></span>
      <div class='card-action center-align'>
        <a>Rank: #<%= number_with_delimiter(product.rank)%></a>
        <a>Price: <%= Money.new(product.price).format%></a>
      </div>

      <% if product.features.present? %>
        <ul class='collection black-text'>
          <% product.features.each do |feature| %>
            <li class='collection-item'><%= feature %></li>
          <% end %>
        </ul>
      <% end %>

      <% if product.images.present? %>
        <div class='collection white'>
          <% product.images.each do |image| %>
            <div class='col s4'>
              <%= link_to image, target: '_blank' do %>
                <%= cl_image_tag(image, type: :fetch, width: 150, height: 100, crop: :fit, style: 'width: 100%') %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class='card-action center-align'>
        <a>Reviews: <%= number_with_delimiter(product.reviews_count)%></a>
        <a>Inventory: <%= number_with_delimiter(product.inventory)%></a>
      </div>
    <% else %>
      <span class='card-title'>New Product</span>
    <% end %>
  </div>
</div>
